<p>
    After a while, Rupert met a beautiful fox named {{read.foxWife}}. 
    They fell deeply in love and lived in {{read.housing}}. 
    They lived there happily ever after. The end.
</p>
<a href="/">Do you want to read it again?</a>