<p>
    One day, Rupert decided to visit {{read.place}}. 
    So, he hopped on a {{read.travelVehicle}} to get there. 
    Once he got there, he decided to stay for at least {{read.yearsToStay}} years.
</p>
<a href="/end">Continue</a>